@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@import "tailwindcss";

body {
  font-family: "Cairo", sans-serif;
}

.input {
  @apply w-full px-3 py-2 border rounded bg-white;
}